packages/icons/svg/*.svg
packages/icons/src/icons/*

packages/cli/lib

packages/components/dist
packages/components/es
packages/components/lib

packages/icons/dist
packages/icons/es
packages/icons/lib