node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
coverage
docs-dist

packages/icons/dist
packages/icons/es
packages/icons/lib

packages/ui/dist
packages/ui/es
packages/ui/lib